body {
    font-family: Comic sans Ms;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

h1 {
    font-size: 40px;
}

button {
    margin-right: 10px;
}

font {
    font-size: 30px;
    color: white;
    text-decoration: underline solid white;
    font-weight: bold;
    padding-bottom: 30px;
}

input {
    font-size: 25px;
    border: solid;
}

select {
    font-size: 25px;
}

#para {
    font-size: 25px;
    color: white;
}

.lbl {
    color: darkorange;
    text-decoration: none;
    font-style: normal;
    visibility: hidden;
}